.mat-dialog-title {
    margin-top: 0.5em;
    margin-left: 1em;
}
.mat-dialog-content {
    padding-left: 2.75em;
}
.mat-dialog-actions {
    margin-right: 0.5em;
    float: right;

    button {
        color: dodgerblue;
    }
}